{%- set max = num_jobs %}
{%- for i in range(0, max) %}
{%- set id = "%02d" % i %}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: trnascan-job-{{ id }}
  labels:
    jobgroup: trnascan-jobgroup
spec:
  backoffLimit: 4
  # Job/Pod: Time to live after finish: "0" immediately delete, when done
  ttlSecondsAfterFinished: 0
  template:
    metadata:
      name: trnascan-job-{{ id }}
      labels:
        jobgroup: trnascan-jobgroup
    spec:
      containers:
      - name: trnascan-run
        image: localhost:32000/trnascan:latest
        imagePullPolicy: Always
        resources:
          requests:
            cpu: "64"
        volumeMounts:
          - name: genomes
            mountPath: /mnt/genomes
          - name: assemblies
            mountPath: /mnt/ncbi_assemblies
        command: ["/bin/bash", "-c"]
        args:
        - ./trnascan_parallel.py -vvv --procs 32 -f /mnt/genomes/genomefiles_trnascan_queue_c{{ max }}_{{ id }}.txt
      restartPolicy: Never
      volumes:
      - name: genomes
        hostPath:
          # directory location on host
          path: /nfs/zfs_adenin/genomes
          # this field is optional
          type: Directory
      - name: assemblies
        hostPath:
          # directory location on host
          path: /nfs/zfs_adenin/assemblies
          # this field is optional
          type: Directory
{%- endfor %}
