{%- set max = num_jobs %}
{%- for i in range(0, max) %}
{%- set id = "%02d" % i %}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: blast-job-{{ id }}
  labels:
    jobgroup: blast-jobgroup
spec:
  # Job/Pod: Time to live after finish: "0" immediately delete, when done
  ttlSecondsAfterFinished: 0
  template:
    metadata:
      name: blast-job-{{ id }}
      labels:
        jobgroup: blast-jobgroup
    spec:
      containers:
      - name: blast-run
        image: localhost:32000/blast:2.11.0
        imagePullPolicy: Always
        resources:
          requests:
            cpu: "124"
        volumeMounts:
          - name: databases
            mountPath: /mnt/databases
          - name: transdecoder
            mountPath: /nfs/zfs_adenin/tmp8vnz6cn3
        command: ["/bin/bash", "-c"]
        args:
        - echo "Run BLAST batch {{ i }}";
          chmod +x /nfs/zfs_adenin/tmp8vnz6cn3/{{ blast_jobs[i] }};
          /nfs/zfs_adenin/tmp8vnz6cn3/{{ blast_jobs[i] }};
      restartPolicy: Never
      volumes:
      - name: databases
        hostPath:
          # directory location on host
          path: /nfs/zfs_adenin/databases
          # this field is optional
          type: Directory
      - name: transdecoder
        hostPath:
          # directory location on host
          path: /nfs/zfs_adenin/tmp8vnz6cn3
          # this field is optional
          type: Directory
  backoffLimit: 4
{%- endfor %}
