{%- set params = [
      {"job_dir": "job_target_arabid_job_JSAD01000000_query_arabid_thaliana", "target_file": "JSAD01000000.fasta", },
      {"job_dir": "job_target_arabid_job_OMOL01000000_query_arabid_thaliana", "target_file": "OMOL01000000.fasta", },
      {"job_dir": "job_target_arabid_job_OFEF01000000_query_arabid_thaliana", "target_file": "OFEF01000000.fasta", },
      {"job_dir": "job_target_arabid_job_AFNB01000000_query_arabid_thaliana", "target_file": "AFNB01000000.fasta", },
      {"job_dir": "job_target_arabid_job_LUHQ01000000_query_arabid_thaliana", "target_file": "LUHQ01000000.fasta", },
      {"job_dir": "job_target_arabid_job_CACSHJ010000000_query_arabid_thaliana", "target_file": "CACSHJ010000000.fasta", },
      {"job_dir": "job_target_arabid_job_LXSY01000000_query_arabid_thaliana", "target_file": "LXSY01000000.fasta", },
      {"job_dir": "job_target_arabid_job_CAEFZF010000000_query_arabid_thaliana", "target_file": "CAEFZF010000000.fasta", },
      {"job_dir": "job_target_arabid_job_MJMM01000000_query_arabid_thaliana", "target_file": "MJMM01000000.fasta", },
      {"job_dir": "job_target_arabid_job_FJVB01000000_query_arabid_thaliana", "target_file": "FJVB01000000.fasta", },
      {"job_dir": "job_target_arabid_job_OANL01000000_query_arabid_thaliana", "target_file": "OANL01000000.fasta", },
      {"job_dir": "job_target_arabid_job_CADHRU010000000_query_arabid_thaliana", "target_file": "CADHRU010000000.fasta", },
      {"job_dir": "job_target_arabid_job_RCNM01000000_query_arabid_thaliana", "target_file": "RCNM01000000.fasta", },
      {"job_dir": "job_target_arabid_job_JAAEDN010000000_query_arabid_thaliana", "target_file": "JAAEDN010000000.fasta", },
      {"job_dir": "job_target_arabid_job_BASP01000000_query_arabid_thaliana", "target_file": "BASP01000000.fasta", },
      {"job_dir": "job_target_arabid_job_ADBK01000000_query_arabid_thaliana", "target_file": "ADBK01000000.fasta", },
    ]
%}
{%- for p in params %}
{%- set job_dir = p["job_dir"] %}
{%- set target_file = p["target_file"] %}
{%- set id = "%02d" % loop.index %}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: pyscipio-job-genome{{ id }}d
  labels:
    jobgroup: pyscipio-jobgroup
spec:
  backoffLimit: 4
  # Job/Pod: Time to live after finish: "0" immediately delete, when done
  ttlSecondsAfterFinished: 0
  template:
    metadata:
      name: pyscipio-job-genome{{ id }}d
      labels:
        jobgroup: pyscipio-jobgroup
    spec:
      containers:
      - name: pyscipio-run
        image: localhost:32000/pyscipio3:v0.3.3
        imagePullPolicy: Always
        resources:
          requests:
            cpu: "124"
        volumeMounts:
          - name: test-volume
            mountPath: /mnt/test
        command: ["/bin/bash", "-c"]
        args:
        - source pyscipio3/venv/bin/activate;
          cd /mnt/test/pyscipio/{{ job_dir }};
          ./pyscipio_parallel_job.sh target/{{ target_file }} q_genes conf/pyscipio.fungi.default.conf
      restartPolicy: Never
      volumes:
      - name: test-volume
        hostPath:
          # directory location on host
          path: /nfs/zfs_adenin/test
          # this field is optional
          type: Directory
{%- endfor %}
