.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #495b6f !important;
}
.MuiFab-secondary {
    color: #fff;
    background-color: #47b9bd !important;
}
.jss25 {
    margin: 2px;
    overflow: hidden;
    background: #6790ba !important;
}
.jss45 {
    background: #6790ba !important;
}
.MuiToolbar-gutters:last-child {
  background-image: url(https://goenomics.com/assets/img/Logo_final_GOENOMICS_20210112_nur_Schriftzug.svg);
  background-position: right 180px center;
  background-size: 16em;
  background-repeat: no-repeat;
}
