html, body {
    background-color: white;
    padding: 0;
}

/****** jQueryUI settings ******/

.ui-widget {font-size: 11px;}

.ui-dialog .ui-dialog-titlebar { padding: 0 .3em; }
.ui-dialog .ui-dialog-title { margin: 0; }
.ui-dialog .ui-dialog-titlebar-close { right: 0px; }
.ui-dialog .ui-dialog-content { padding: .5em 1em;}

.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 10px; height: 10px; cursor: default; }
.ui-slider-horizontal { height: 10px; }
.ui-slider-horizontal .ui-slider-handle { top: -1px; margin-left: -5px; }
.ui-slider-vertical { width: 10px; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -1px; margin-bottom: -5px; }

/****** own settings ******/

.seqgui {}

.seqgui label, .seqgui input { display:block; width: 95%;}
.seqgui input, .seqgui select { margin-bottom: 1em; }
.seqgui input.text { padding: .2em; }
.seqgui fieldset { padding:0; border:0; margin-top:25px; }


.seqgui div.tabs a.tab {
    text-decoration: none;
    padding: .5em 1em 1em 0;
    font-weight: bold;
}

.seqgui div.tabs a.tab:hover {
    text-decoration: underline;
}

.seqgui div.tabs a.tab_selected {
    opacity: 0.5;
}


