{%- set job_set = "magnaporyzae" %}
{%- set params = [{"job_dir": "job_target_magnap_job_AACU03000000_query_magnap_oryzae", "target_file": "AACU03000000.fasta", },
                  {"job_dir": "job_target_magnap_job_ADBL01000000_query_magnap_oryzae", "target_file": "ADBL01000000.fasta", },
                  {"job_dir": "job_target_magnap_job_ANOW01000000_query_magnap_oryzae", "target_file": "ANOW01000000.fasta", },
                  {"job_dir": "job_target_magnap_job_AXDJ01000000_query_magnap_oryzae", "target_file": "AXDJ01000000.fasta", },
                  {"job_dir": "job_target_magnap_job_AZSW01000000_query_magnap_oryzae", "target_file": "AZSW01000000.fasta", },
                  {"job_dir": "job_target_magnap_job_JAATWF010000000_query_magnap_oryzae", "target_file": "JAATWF010000000.fasta", },
                  {"job_dir": "job_target_magnap_job_JAATWG010000000_query_magnap_oryzae", "target_file": "JAATWG010000000.fasta", },
                  {"job_dir": "job_target_magnap_job_JAAXMU010000000_query_magnap_oryzae", "target_file": "JAAXMU010000000.fasta", },
                  {"job_dir": "job_target_magnap_job_JGVY01000000_query_magnap_oryzae", "target_file": "JGVY01000000.fasta", },
                  {"job_dir": "job_target_magnap_job_JH165175_JH165220_query_magnap_oryzae", "target_file": "JH165175_JH165220.fasta", },
                  {"job_dir": "job_target_magnap_job_JMQU01000000_query_magnap_oryzae", "target_file": "JMQU01000000.fasta", },
                  {"job_dir": "job_target_magnap_job_LNTO01000000_query_magnap_oryzae", "target_file": "LNTO01000000.fasta", },
                  {"job_dir": "job_target_magnap_job_LOFB01000000_query_magnap_oryzae", "target_file": "LOFB01000000.fasta", },
                  {"job_dir": "job_target_magnap_job_LXOQ01000000_query_magnap_oryzae", "target_file": "LXOQ01000000.fasta", },
                  {"job_dir": "job_target_magnap_job_MQOP01000000_query_magnap_oryzae", "target_file": "MQOP01000000.fasta", },
                  {"job_dir": "job_target_magnap_job_MQOR01000000_query_magnap_oryzae", "target_file": "MQOR01000000.fasta", },
                  {"job_dir": "job_target_magnap_job_MQRB01000000_query_magnap_oryzae", "target_file": "MQRB01000000.fasta", },
                  {"job_dir": "job_target_magnap_job_NKQG01000000_query_magnap_oryzae", "target_file": "NKQG01000000.fasta", },
                  {"job_dir": "job_target_magnap_job_PJYT01000000_query_magnap_oryzae", "target_file": "PJYT01000000.fasta", },
                  {"job_dir": "job_target_magnap_job_PJZD01000000_query_magnap_oryzae", "target_file": "PJZD01000000.fasta", },
                  {"job_dir": "job_target_magnap_job_PQBJ01000000_query_magnap_oryzae", "target_file": "PQBJ01000000.fasta", },
                  {"job_dir": "job_target_magnap_job_PYSQ01000000_query_magnap_oryzae", "target_file": "PYSQ01000000.fasta", },
                  {"job_dir": "job_target_magnap_job_RRCK01000000_query_magnap_oryzae", "target_file": "RRCK01000000.fasta", },
                  {"job_dir": "job_target_magnap_job_VCMT01000000_query_magnap_oryzae", "target_file": "VCMT01000000.fasta", },]
%}
{%- set params = [{"job_dir": "job_target_magnap_job_MQOP01000000_query_magnap_oryzae", "target_file": "MQOP01000000.fasta", },] %}

{%- for p in params %}
{%- set job_dir = p["job_dir"] %}
{%- set target_file = p["target_file"] %}
{%- set id = "%02d" % loop.index %}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: pyscipio-job-{{ job_set }}-genome{{ id }}d
  labels:
    jobgroup: pyscipio-{{ job_set }}-jobgroup
spec:
  backoffLimit: 4
  # Job/Pod: Time to live after finish: "0" immediately delete, when done
  ttlSecondsAfterFinished: 0
  template:
    metadata:
      name: pyscipio-job-{{ job_set }}-genome{{ id }}d
      labels:
        jobgroup: pyscipio-{{ job_set }}-jobgroup
    spec:
      containers:
      - name: pyscipio-run
        image: localhost:32000/pyscipio3:v0.3.6
        imagePullPolicy: Always
        resources:
          requests:
            cpu: "124"
        volumeMounts:
          - name: test-volume
            mountPath: /mnt/test
        command: ["/bin/bash", "-c"]
        args:
        - source pyscipio3/venv/bin/activate;
          cd /mnt/test/pyscipio/{{ job_dir }};
          ./pyscipio_parallel_job.sh target/{{ target_file }} q_genes conf/pyscipio.fungi.default.conf
      restartPolicy: Never
      volumes:
      - name: test-volume
        hostPath:
          # directory location on host
          path: /nfs/zfs_adenin/test
          # this field is optional
          type: Directory
---
apiVersion: batch/v1
kind: Job
metadata:
  name: pyscipio-job-{{ job_set }}-genome{{ id }}s
  labels:
    jobgroup: pyscipio-{{ job_set }}-jobgroup
spec:
  backoffLimit: 4
  # Job/Pod: Time to live after finish: "0" immediately delete, when done
  ttlSecondsAfterFinished: 0
  template:
    metadata:
      name: pyscipio-job-{{ job_set }}-genome{{ id }}s
      labels:
        jobgroup: pyscipio-{{ job_set }}-jobgroup
    spec:
      containers:
      - name: pyscipio-run
        image: localhost:32000/pyscipio3:v0.3.6
        imagePullPolicy: Always
        resources:
          requests:
            cpu: "124"
        volumeMounts:
          - name: test-volume
            mountPath: /mnt/test
        command: ["/bin/bash", "-c"]
        args:
        - source pyscipio3/venv/bin/activate;
          cd /mnt/test/pyscipio/{{ job_dir }};
          ./pyscipio_parallel_job.sh target/{{ target_file }} q_genes conf/pyscipio.fungi.strict.conf
      restartPolicy: Never
      volumes:
      - name: test-volume
        hostPath:
          # directory location on host
          path: /nfs/zfs_adenin/test
          # this field is optional
          type: Directory
---
apiVersion: batch/v1
kind: Job
metadata:
  name: pyscipio-job-{{ job_set }}-genome{{ id }}w
  labels:
    jobgroup: pyscipio-{{ job_set }}-jobgroup
spec:
  backoffLimit: 4
  # Job/Pod: Time to live after finish: "0" immediately delete, when done
  ttlSecondsAfterFinished: 0
  template:
    metadata:
      name: pyscipio-job-{{ job_set }}-genome{{ id }}w
      labels:
        jobgroup: pyscipio-{{ job_set }}-jobgroup
    spec:
      containers:
      - name: pyscipio-run
        image: localhost:32000/pyscipio3:v0.3.6
        imagePullPolicy: Always
        resources:
          requests:
            cpu: "124"
        volumeMounts:
          - name: test-volume
            mountPath: /mnt/test
        command: ["/bin/bash", "-c"]
        args:
        - source pyscipio3/venv/bin/activate;
          cd /mnt/test/pyscipio/{{ job_dir }};
          ./pyscipio_parallel_job.sh target/{{ target_file }} q_genes conf/pyscipio.fungi.weak.conf
      restartPolicy: Never
      volumes:
      - name: test-volume
        hostPath:
          # directory location on host
          path: /nfs/zfs_adenin/test
          # this field is optional
          type: Directory
{%- endfor %}
