{%- for q in query_files %}
{%- set qjob = q["job"] %}
{%- set qfile = q["filename"] %}
{%- set qfilepath = q["path"] %}
{%- set k8dir = "kubernetes_test_" + query_base + "/" %}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: pyscipio-job-{{ qjob }}
  labels:
    jobgroup: pyscipio-jobgroup
spec:
  # Job/Pod: Time to live after finish: "0" immediately delete, when done
  ttlSecondsAfterFinished: 0
  template:
    metadata:
      name: pyscipio-job-{{ qjob }}
      labels:
        jobgroup: pyscipio-jobgroup
    spec:
      containers:
      - name: pyscipio-run
        image: localhost:32000/pyscipio3:registry
        volumeMounts:
          - name: test-volume
            mountPath: /home/genwork/test_data
        command: ["/bin/bash", "-c"]
        args:
        - source pyscipio3/venv/bin/activate;
          echo "Debug 1";
          cd {{ working_directory }};
          echo "Debug 2";
          mkdir -p {{ k8dir }};
          ls -la;
          python -m  scipio.cmd --force --mode=blast --min_score=0.3 --min_identity=90 --min_coverage=60 --max_mismatch=7
          --region_size=2000 --max_assemble_size=75000 --max_move_exon=6 --gap_to_close=6 --min_intron_len=22
          --accepted_intron_penalty=1.0 --exhaust_align_size=15000 --exhaust_gap_size=21 --fast_nw
          --target={{ target }} --query={{ qfilepath }}
          > {{ k8dir }}{{ qfile }}.yaml 2> {{ k8dir }}{{ qfile }}.log;
          cat {{ k8dir }}{{ qfile }}.yaml;
      restartPolicy: Never
      volumes:
      - name: test-volume
        hostPath:
          # directory location on host
          path: /nfs/zfs_adenin/test
          # this field is optional
          type: Directory
  backoffLimit: 4
{%- endfor %}
