{%- set params = [{ "name": "apple", "url": "http://dbpedia.org/resource/Apple", },
                  { "name": "banana", "url": "http://dbpedia.org/resource/Banana", },
                  { "name": "cherry", "url": "http://dbpedia.org/resource/Cherry" }]
%}
{%- for p in params %}
{%- set name = p["name"] %}
{%- set url = p["url"] %}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: pyscipio-job-{{ name }}
  labels:
    jobgroup: pyscipio-jobgroup
spec:
  template:
    metadata:
      name: pyscipio-job-{{ name }}
      labels:
        jobgroup: pyscipio-jobgroup
    spec:
      containers:
      - name: pyscipio-run
        image: localhost:32000/pyscipio3:registry
        volumeMounts:
          - name: test-volume
            mountPath: /home/genwork/test_data
        command: ["/bin/bash", "-c"]
        args:
        - source pyscipio3/venv/bin/activate;
          cd test_data/pyscipio/target_magnap_grisea_query_magnap_oryzae;
          python -m  scipio.cmd --force --mode=blast --min_score=0.3 --min_identity=90 --min_coverage=60 --max_mismatch=7
          --region_size=2000 --max_assemble_size=75000 --max_move_exon=6 --gap_to_close=6 --min_intron_len=22
          --accepted_intron_penalty=1.0 --exhaust_align_size=15000 --exhaust_gap_size=21 --fast_nw
          --target=Magnaporthe_grisea_70_15_v3_chromosome.fasta --query=q_genes/{{ name }}.fas
          > {{ name }}.fas.yaml 2> {{ name }}.fas.log;
          cat {{ name }}.fas.yaml;
      restartPolicy: Never
      volumes:
      - name: test-volume
        hostPath:
          # directory location on host
          path: /nfs/zfs_adenin/test
          # this field is optional
          type: Directory
  backoffLimit: 4
{%- endfor %}
