{%- set job_set = "magnaporyzae" %}
{%- set params = [{"job_dir": "job_target_magnap_AACU03000000_query_magnap_oryzae", "target_file": "AACU03000000.fasta", },
                  {"job_dir": "job_target_magnap_ADBL01000000_query_magnap_oryzae", "target_file": "ADBL01000000.fasta", },
                  {"job_dir": "job_target_magnap_ANOW01000000_query_magnap_oryzae", "target_file": "ANOW01000000.fasta", },
                  {"job_dir": "job_target_magnap_AXDJ01000000_query_magnap_oryzae", "target_file": "AXDJ01000000.fasta", },
                  {"job_dir": "job_target_magnap_AZSW01000000_query_magnap_oryzae", "target_file": "AZSW01000000.fasta", },
                  {"job_dir": "job_target_magnap_JAATWF010000000_query_magnap_oryzae", "target_file": "JAATWF010000000.fasta", },
                  {"job_dir": "job_target_magnap_JAATWG010000000_query_magnap_oryzae", "target_file": "JAATWG010000000.fasta", },
                  {"job_dir": "job_target_magnap_JAAXMU010000000_query_magnap_oryzae", "target_file": "JAAXMU010000000.fasta", },
                  {"job_dir": "job_target_magnap_JGVY01000000_query_magnap_oryzae", "target_file": "JGVY01000000.fasta", },
                  {"job_dir": "job_target_magnap_JH165175_JH165220_query_magnap_oryzae", "target_file": "JH165175_JH165220.fasta", },
                  {"job_dir": "job_target_magnap_JMQU01000000_query_magnap_oryzae", "target_file": "JMQU01000000.fasta", },
                  {"job_dir": "job_target_magnap_LNTH01000000_query_magnap_oryzae", "target_file": "LNTH01000000.fasta", },
                  {"job_dir": "job_target_magnap_LNTK01000000_query_magnap_oryzae", "target_file": "LNTK01000000.fasta", },
                  {"job_dir": "job_target_magnap_LNTO01000000_query_magnap_oryzae", "target_file": "LNTO01000000.fasta", },
                  {"job_dir": "job_target_magnap_LOFB01000000_query_magnap_oryzae", "target_file": "LOFB01000000.fasta", },
                  {"job_dir": "job_target_magnap_LXOQ01000000_query_magnap_oryzae", "target_file": "LXOQ01000000.fasta", },
                  {"job_dir": "job_target_magnap_MQOP01000000_query_magnap_oryzae", "target_file": "MQOP01000000.fasta", },
                  {"job_dir": "job_target_magnap_MQOR01000000_query_magnap_oryzae", "target_file": "MQOR01000000.fasta", },
                  {"job_dir": "job_target_magnap_MQRB01000000_query_magnap_oryzae", "target_file": "MQRB01000000.fasta", },
                  {"job_dir": "job_target_magnap_NKQG01000000_query_magnap_oryzae", "target_file": "NKQG01000000.fasta", },
                  {"job_dir": "job_target_magnap_PJYT01000000_query_magnap_oryzae", "target_file": "PJYT01000000.fasta", },
                  {"job_dir": "job_target_magnap_PJZD01000000_query_magnap_oryzae", "target_file": "PJZD01000000.fasta", },
                  {"job_dir": "job_target_magnap_PQBJ01000000_query_magnap_oryzae", "target_file": "PQBJ01000000.fasta", },
                  {"job_dir": "job_target_magnap_PYSQ01000000_query_magnap_oryzae", "target_file": "PYSQ01000000.fasta", },
                  {"job_dir": "job_target_magnap_RRCK01000000_query_magnap_oryzae", "target_file": "RRCK01000000.fasta", },
                  {"job_dir": "job_target_magnap_VCMT01000000_query_magnap_oryzae", "target_file": "VCMT01000000.fasta", },]
%}
{%- for p in params %}
{%- set job_dir = p["job_dir"] %}
{%- set target_file = p["target_file"] %}
{%- set id = "%02d" % loop.index %}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: pyscipio-job-{{ job_set }}-genome{{ id }}d
  labels:
    jobgroup: pyscipio-{{ job_set }}-jobgroup
spec:
  backoffLimit: 4
  # Job/Pod: Time to live after finish: "0" immediately delete, when done
  ttlSecondsAfterFinished: 0
  template:
    metadata:
      name: pyscipio-job-{{ job_set }}-genome{{ id }}d
      labels:
        jobgroup: pyscipio-{{ job_set }}-jobgroup
    spec:
      containers:
      - name: pyscipio-run
        image: localhost:32000/pyscipio3:v0.3.6
        imagePullPolicy: Always
        resources:
          limits:
            cpu: "124"
            memory: "64Gi"
          requests:
            cpu: "124"
            memory: "64Gi"
        volumeMounts:
          - name: test-volume
            mountPath: /mnt/test
        command: ["/bin/bash", "-c"]
        args:
        - source pyscipio3/venv/bin/activate;
          cd /mnt/test/pyscipio/{{ job_dir }};
          ./pyscipio_parallel_job.sh target/{{ target_file }} q_genes pyscipio.fungi.default.conf &> pyscipio-job-{{ job_set }}-genome{{ id }}d.log
      restartPolicy: Never
      volumes:
      - name: test-volume
        hostPath:
          # directory location on host
          path: /nfs/zfs_adenin/test
          # this field is optional
          type: Directory
{%- endfor %}
